@import "../base/animations";
@import "../base/typography";

.service__card {
  color: black;
  background-color: transparent;
  margin: 2rem;
  padding: 0.5rem;
  width: 12rem;
  text-align: center;
  border-radius: 20px;

  &__top {
    width: 100%;
    height: 10rem;
  }

  &__bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 80%;
    font-weight: 300;
  }

  &__title {
    text-transform: uppercase;
  }

  &__image {
    width: 100%;
    height: 100%;
    min-height: 10rem;
    background-position: center;
    background-size: cover;
    opacity: 1 !important;
    border-radius: 20px;
    overflow: hidden;
  }
}
