@import "../abstracts/mixins";

.hero {
  height: 100%;
  &__home {
    min-height: calc(100vh);
  }
  &__page {
    clip-path: polygon(100% 30%, 100% 100%, 0 70%, 0 0);
    background-color: $color-primary;
    min-height: calc(30vh);
    height: 30vh;
  }
}

@include respond(phone) {
  .hero {
    @include hero-mixin;
    &__home {
      min-height: calc(100vh);
    }
    &__page {
      min-height: calc(30vh);
    }
  }
}

@include respond(tab-port) {
  .hero {
    @include hero-mixin;
    &__home {
      min-height: calc(100vh);
    }
    &__page {
      min-height: calc(30vh);
    }
  }
}

@include respond(laptop) {
  .hero {
    &__home {
      @include hero-mixin;
      min-height: calc(100vh);
    }
    &__page {
      @include hero-mixin;
      min-height: 40vh;
    }
  }
}

@include respond(huge-desktop) {
  .hero {
    @include hero-mixin;
    &__home {
      min-height: calc(100vh);
    }
    &__page {
      height: 5rem;
      min-height: calc(30vh);
    }
  }
}
