.hero {
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  margin-top: -2em;
  background: linear-gradient(
    121.26deg,
    rgba(0, 0, 0, 0.7) 0.57%,
    rgba(242, 243, 243, 0.3) 100%
  );
  &__home {
    min-height: calc(100vh - 5em);
  }
}

@include respond(huge-desktop) {
  .hero {
    background-position: center;
    background-size: cover;
    opacity: 1 !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
    margin-top: -2em;
    background: linear-gradient(
      121.26deg,
      rgba(0, 0, 0, 0.7) 0.57%,
      rgba(242, 243, 243, 0.3) 100%
    );
    &__home {
      min-height: calc(100vh - 5em);
    }
  }
}
