.testimonial {
  text-align: center;
  margin: 2rem;
  font-size: 70%;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 3px $color-primary;

  &__body {
    font-style: italic;
  }
  // &__inner {
  // }

  &__name {
    width: 100%;
    font-weight: bold;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
