.home {
  .navbar-dark,
  .navbar-nav,
  .nav-link {
    color: white !important;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
  }
}
