// COLORS
$color-primary: #f3ca78;

$color-secondary: #c82f07;

$color-grey-light-1: #f2f3f3;
$color-grey-light-2: #e5e5e5;
$color-grey-light-3: #ededed;
$color-grey-light-3-faded: #ededede3;

$color-grey-dark: #c4c4c4;
$color-grey-dark-1: #4b4b4b;
$color-grey-dark-1-faded: #4b4b4bd3;

$color-white: #fff;
$color-black: #000;

//BOOTSTRAP
$grid-breakpoints: (
  xs: 0,
  sm: 426px,
  md: 768px,
  lg: 1200px,
  xl: 1440px,
);

$container-max-widths: (
  sm: 426px,
  md: 768px,
  lg: 1200px,
  xl: 1440px,
);

$theme-colors: (
  primary: $color-secondary,
  // secondary: $gray-600,
    // success: $green,
    // info: $cyan,
    // warning: $yellow,
    // danger: $red,
    // light: $gray-100,
    // dark: $gray-800,,,,,,,,,,,,,,
) !default;

@import "../../../node_modules/bootstrap/scss/bootstrap";
